body{
    background: rgb(225, 225, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 400px;
    margin: 0 auto;
}
.container h1{
text-align: center;
}

.container form, .container h2{
    background: rgb(44, 60, 20);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}